nav.navbar.navbar-expand-md.navbar-fixed-top.navbar-dark.bg-dark.main-nav
  .container
    ul.nav.navbar-nav.mr-auto.ml-md-auto
      li.nav-item.active
        a.nav-link(href='#') Barbell
    ul.nav.navbar-nav.mx-auto
      li.nav-item
        a.nav-link(href='#')
          img.logo.rounded-circle.img-fluid(src='/download.png' width='100')
    ul.nav.navbar-nav.ml-auto.mr-md-auto
      li.nav-item
        a.nav-link(href='#') Aerobic