extends layout

block content
  .card-columns.mt-5.ml-5.mr-5
  .card.text-center
    .card-header.bg-dark.text-white
      | Back Squat
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Front Squat
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Overhead Squat
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Deadlift
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Shoulder Press
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Push Press
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Jerk
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Bench Press
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Power Clean
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Clean
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Clean and Jerk
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200
  .card.text-center
    .card-header.bg-dark.text-white
      | Snatch
    ul.list-group.list-group-flush
      li.list-group-item Jake Marconi - 475
      li.list-group-item Tyler Hardwood - 455
      li.list-group-item Joshua Blasbalg - 405
    ul.list-group.list-group-flush
      li.list-group-item Sara Corben - 235
      li.list-group-item Alecia Molano - 200
      li.list-group-item Kayla Zerva - 200